<% include('partials/header'); %>
    
    <h1>
            <h1><%= title %></h1>

            <p> <h1>Prueba de Pagina: 1,2,3: asdadsadsadsdasdasdbashdbaksdhajkshdkajshdahbdjsadfjsdbfjlsdgfaskjfvajskdfgsjdgfjasbdfhaslgdfjagsasdasdasdasdadsasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasd</h1> </p>
    </h1>

    <% if (isActive){  %>
    <p>El servidor esta activo</p> 
    <% } else { %>
    <p>El servidor esta inactivo</p>
    <% } %> 

    <% include('partials/footer'); %>