<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="holaaaaaaaaaaaaaa">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba de EJS :)</title>
    <link rel="stylesheet" href="/src/Public/indexx.css">
</head>
<body>